azure-search-documents
azure-storage-blob
faker
fastapi
pandas
python-dotenv
requests
# Sentence Transformers: Multilingual Sentence, Paragraph, and Image Embeddings using BERT & Co.
sentence-transformers
uvicorn